<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
    <form method='POST'> {% csrf_token %}
    <span>Tittle</span>
    <input type='text' name='title'>
    </input>
    <span>Description</span>
    <input type='text' name='description'>
    </input>
    <button>post</button>

    </form>

        {% if blogs %}
            {% for blog in blogs %}
                <a href="{% url 'blogdetail' blog.id %}">{{ blog.title }}</a>
                <p>{{ blog.description }}<p>
            {% endfor %}
        {% else %}
            No  blog want to add 
        
        {% endif %}

    {% endblock %}
</body>
</html>