
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

        {% if user.is_authenticated %}
            <h4> your are currently login as {{user.username }} </h4>
            <a href= "{% url 'logout' %}"><button>logout</button></a>

            <form method='POST'> {% csrf_token %}
                {{ form| crispy }}
                <button>post</button>
            </form>

        {% else %}
                <h4>Please login to post the blog</h4>
                <a href= "{% url 'register' %}"><button>Register</button></a>
                <a href= "{% url 'login' %}"><button>login</button></a>
        {% endif %}



            {% if blogs %}
                {% for blog in blogs %}
                    <a href="{% url 'blogdetail' blog.id %}">{{ blog.title }}</a>   by {{ blog.author.email }} on {{blog.date_created}}
                    <p>{{ blog.description }}<p>
                {% endfor %}
            {% else %}
                No  blog want to add 
            
            {% endif %}

    {% endblock %}
</body>
</html>